
.canvas.canvas--background-1 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Leonardoworx.jpg");
    opacity: 1;
}

.canvas.canvas--background-2 {
    background-image: url("https://auth.services.adobe.com/img/canvas/MichaelSchauer.jpg");
    opacity: 1;
}

.canvas.canvas--background-3 {
    background-image: url("https://auth.services.adobe.com/img/canvas/PalomaRincon.jpg");
    opacity: 1;
}

.canvas.canvas--background-4 {
    background-image: url("https://auth.services.adobe.com/img/canvas/TomAndersWatkins.jpg");
    opacity: 1;
}

.canvas.canvas--background-5 {
    background-image: url("https://auth.services.adobe.com/img/canvas/TomHegen.jpg");
    opacity: 1;
}

.canvas.canvas--background-6 {
    background-image: url("https://auth.services.adobe.com/img/canvas/TracieChing.jpg");
    opacity: 1;
}

.canvas.canvas--background-7 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_227313925_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-8 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_228669299_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-9 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_262832798_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-10 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_245585448_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-11 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_134829797_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-12 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_118267918_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-13 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_231796301_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-14 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_113489662_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-15 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_225792818_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-16 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_187945152_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-17 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_187945154_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-18 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_187947367_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-19 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_203630633_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-20 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_203638456_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-21 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_239116868_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-22 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_235116770_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-23 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_241479172_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-24 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_251340105_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-25 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_228355584_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-26 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_247535207_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-27 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_158229208_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-28 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_198275969_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-29 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_200977622_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-30 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_235943954_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-31 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_235945493_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-32 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_235945991_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-33 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_235948322_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-34 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_188880972_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-35 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Fotolia_145726787_XL.jpg");
    opacity: 1;
}

.canvas.canvas--background-36 {
    background-image: url("https://auth.services.adobe.com/img/canvas/DanielCiocirlan.jpg");
    opacity: 1;
}

.canvas.canvas--background-37 {
    background-image: url("https://auth.services.adobe.com/img/canvas/Kaizen.jpg");
    opacity: 1;
}
